body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(96, 96, 100);
}
input {
  margin: 5px;
  padding: 5px;
}
button {
  padding: 6px 12px;
}
.user-card {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #c7c1c1;
}
