body {
  justify-items: center;
  font-family: Arial, sans-serif;
  padding: 50px;
  background-color: rgb(69, 38, 75);
}
input {
  margin: 5px;
  padding: 5px;
  font-size: medium;
}
button {
  padding: 6px 12px;
}
.user-card {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #aaa6a6;
  font-style: italic;
  width: max-content;
  color: rgb(13, 14, 13);
  background-color: rgb(143, 140, 146);
}
